<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%=link_to "About Us", home_about_path, class:"nav-link"%>
        </li>
    </ul>

  </div>
</nav>