
<%= stylesheet_link_tag 'homepage' %>

<div class="parallax-section">
  <div class="top-heading">
    <h1 class="display-6">Welcome!</h1>
  </div>
  <div class="bottom-heading">
    <p class="lead">
    Wether your group is for fun or for work purposes, you can easily create it here on Organize For Us! Sign up or log in through Google, Facebook or Github, set up your profile, and start creating groups and events by simply add the participants. You choose the amount of time necessary for the meet up, we find the best solution for you and your friends! You can also add a location for the event so the group can see it on the map, as well as surveys to quickly find out the group preferences. Have a look and find out how effortlessly it is to be organized!
    </p>
  </div>
</div>