<%= form_with model: [ @group, @group.roles.build ] do |form| %>

    <div class="row"> <div class="col">
    <div class="field form group">
    <% form.label :tag, style: "display: block" %>
    <%= form.text_field :tag, class:"form-control",  placeholder:"Name of role" %>
    </div> </div>
    <div class="col">
    <p>
      <%= form.submit class:'btn btn-secondary' %>
    </p>
    </div>
    </div>
    <br>

  <% end %>
  