<% if current_user %>
    <li class= "nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="badge rounded-pill bg-danger">
                <%= @unread.count >= 9? "9+" : @unread.count %> 
                <!-- CAMPANELLINA -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
            </span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @unread.each do |notification| %>
               <%= render 'layouts/notification', notification: notification%>
            <%end%>
            <% if @read.count > 0 && @unread.count > 0 %>
                <li>
                    <hr class="dropdown-divider">
                </li>
            <% elsif @read.count + @unread.count == 0 %>
                <li class="dropdown-item">
                    No notification yet
                </li>
            <%end%>
            <% @read.each do |notification| %>
                <%= render 'layouts/notification', notification: notification%>
            <%end%>
        </ul>
    </li>
<%end%>