<h1> Member List </h1>

<div class="row">
<div class="col-3"> Email </div>
<div class="col-3"> Role </div>
<div class="col"> Status </div>
<div class="col">  </div>
<div class="col">  </div>
</div>

<% @group.partecipations.each do |member| %>

<div class="row"> 
<div class="col">
<li> <%= member.user.email %> </li> </div>

<!-- QUESTA PAGINA è MOSTRARE I MEMBRI DI UN GRUPPO TIPO FUN -->

<% if  @group.driver == member.user.email %>
<div class="col"> Designated Driver </div>
<% else%>
<div class="col">  </div>
<%end%>

<div class="col">
<% if @group.accepted?(member.user.id)%>
Member
<%else%>
Pending
<% end %>
</div>

<%if @group.user==current_user %>
<div class="col">  <%= link_to "Delete", [:destroy, member] , class:"btn btn-danger btn-sm", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %> 
              </div>
              
<%else%>
<div class="col">   </div>
</div>

<% end %>

<% end %><br><br>

<!-- Righe per indietro o aggiunta -->
    <div class="row">
      <div class="col-1" ,style="text-align: right">
      <%= link_to "Back", @group, class:"btn btn-secondary" %>
      </div>
      <div class="col">
      <%= link_to "New Member", new_partecipations_url(@group),  class:"btn btn-secondary" %>
      </div>
    </div>
