<html>
<head></head>
<body>
<h3>Events List </h3>
    <%if @events.empty? %>
        <span> There isn't Events! </span>
        <%= button_to "Add one", new_group_event_path(@group), method: :get%>
    <%else%>
        <% @events.each do |event|%>
        <li><%=link_to event.title, group_event_path(@group, event)%> </li>
        <%end %>
    <%end%>
    </ul>
</body>