<span> Group <b> <%=@group.name %></b> was succesfully created </span>


<span> <%= @greeting %>, <b><%=@user.name %></b> your group is ready, check it on our page! </span>

<%= @url %>

<p> Thank you to join! have a nice day! </p>
 