
<div class='field clearfix'>
  <div class="row">
      <div class="col-2">
        <%= f.label :title, "Option" %><br />
        <%= f.text_field :title , class: 'form-control' %><br />
      </div>
      <div class="col">
       <br />
        <%= link_to_remove_field 'Remove question', f %>
      </div>
  </div>
</div>