<% content_for :head do %>
  <%= javascript_import_module_tag "reload" %>
<% end %>

<%if !user_signed_in? %>
  <% controller.redirect_to new_user_session_path %>
<%end%>

    <div >
            <div class="row">
                <div class="col-2">
                    <span id="question_label"> Question 1: </span>
                </div>
                <div class="col-4">
                <%= f.text_field :title, id:"Option" %>
                </div>
            </div> 
    </div>
