
    <div >
            <div class="row">
                <div class="col-2">
                    <span id="question_label"> Question 1: </span>
                </div>
                <div class="col-4">
                <%= f.text_field :title %>
                </div>
            </div> 
    </div>
