<html>
  <head>
    <%if !user_signed_in? %>
      <% controller.redirect_to new_user_session_path %>
    <%end%>
  </head>
  <body>
    <h1 class="display-6">New survey</h1>
    <%= render 'form', survey: @survey %>
  </body>

</html>