<html>
    <head><% content_for :head do %>
  <%= javascript_import_module_tag "reload" %>
<% end %>

<%if !user_signed_in? %>
  <% controller.redirect_to new_user_session_path %>
<%end%></head>
    <body>
        <p class="lead">New survey</p>
        <%= render 'form', survey: @survey %>
    </body>

</html>