<h1>Modifica gruppo</h1>

<%= render "form", gruppo: @gruppo %>

<br>

<div>
  <%= link_to "Mostra gruppo", @gruppo, class:"btn btn-secondary" %> 
  <%= link_to "Torna ai tuoi gruppi", gruppos_path, class:"btn btn-secondary" %>
</div>
