<h1>Edit group</h1>

<%= render "form", gruppo: @gruppo %>

<br>

<div>
  <%= link_to "Show group", @gruppo, class:"btn btn-secondary" %> 
  <%= link_to "Back to your groups", gruppos_path, class:"btn btn-secondary" %>
</div>
<div>
<%= link_to "New Member", new_gruppo_member_path(@gruppo) %>
</div>
