<p style="color: green"></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @gruppo.nome %></h1>
  <p class="lead"><%= @gruppo.descrizione %></p>
  <hr class="my-4">
  <h4>SOTTO QUESTA RIGA METTIAMO I PARTECIPANTI ECC.</h4>
  <%= link_to "Edit group", edit_gruppo_path(@gruppo), class:"btn btn-secondary" %> 
  <%= link_to "Back to your groups", gruppos_path, class:"btn btn-secondary" %>
</div>