 <html>
        <head>
        </head>
        <body>
          <p>
            Well, hello there!
          </p>
          <p>
            We're going to now talk to the GitHub API. Ready?
            <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= ENV['GH_BASIC_CLIENT_ID'] %>">Click here</a> to begin!
          </p>
          <p>
            If that link doesn't work, remember to provide your own <a href="/apps/building-oauth-apps/authorizing-oauth-apps/">Client ID</a>!
          </p>


            <!--script type="module">
            import { Octokit } from "https://cdn.skypack.dev/@octokit/core"; 
            import { request } from "https://cdn.skypack.dev/@octokit/request";

            const octokit = new Octokit({
              auth: '<%= ENV['GITHUB_TOKEN'] %>'
            })
            
           
            const result= await octokit.request('GET /users/{username}/repos', {
              username: 'alessiav8'
            })

            alert(JSON.stringify(result))


          </script-->
        </body>
      </html>



