/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require homepage.css
 *= require_self
 */

 li span { 
    color: black; 
    list-style-type: circle;
   };
  
 li {
      list-style-type: circle ;
   };


   #map {
      height: 400px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
.parallax-section{
   background-image: url(../images/background1.jpg);
   padding: 100px;
   height: 300px;
   background-attachment: fixed;
   background-position:  center;
   background-repeat: no-repeat;
   background-size: cover;
}
.simple-calendar {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
   border: 1px solid #ccc;
   font-size: 12px;
   background-color: white;

 }
 .day {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;

 }
 .wday-0 {
    color: black;
 }
 .wday-1 {
    color: black;
 }
 .wday-2 {
    color: black;
 }
 .wday-3 {
    color: black;
 }
 .wday-4 {
    color: black;
 }
 .wday-5 {
    color: red;
 }
 .wday-6 {
    color: red;
 }

 .today {}
 .past {}
 .future {}

 .start-date {

 }

 .prev-month {

 }
 .next-month { 

 }
 .current-month {

 }