<h1>Modifica group</h1>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "Mostra group", @group, class:"btn btn-secondary" %> 
  <%= link_to "Torna ai tuoi gruppi", groups_path, class:"btn btn-secondary" %>
</div>
