<h1>Edit group</h1>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "Show group", @group, class:"btn btn-secondary" %> 
  <%= link_to "Back to your groups", groups_path, class:"btn btn-secondary" %>
</div>
<div>
<%= link_to "New Member", new_gruppo_member_path(@group) %>
</div>
