<p style="color: green"></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @group.name %></h1>
  <p class="lead"><%= @group.description %></p>
  <hr class="my-4">
  <h4>SOTTO QUESTA RIGA METTIAMO I PARTECIPANTI ECC.</h4>
  <%= link_to "Edit group", edit_group_path(@group), class:"btn btn-secondary" %> 
  <%= link_to "Back to your groups", groups_path, class:"btn btn-secondary" %>
</div>