<h1>Edit group</h1>

<%= render "form", group: @group %>
<br>
<div>

<%= link_to "New Member", new_partecipations_url(@group), class:"btn btn-secondary" %>
<br><br>
<%= link_to "Show group", @group, class:"btn btn-secondary" %> 
<%= link_to "Back to your groups", groups_path, class:"btn btn-secondary" %>
</div>



