<h1> Member List </h1>

<% @group.members.each do |member| %>
<td><li>   <%= member.user_email %> </li> </td> 
<%if @group.user==current_user %>
<td> Status:  <%= member.invito %> </td> 
<td>  <%= link_to "Delete", [:destroy, member.group, member] , data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %> 
              </td>

<% if @group.work==true %>
<td> Role: <%=member.role%> </td>
<%end %>
</tr>
</p></table>
<% end %>
<% end %>